{% extends "admin/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<ol class="breadcrumb">
    <li><a href="/admin/">Dashboard</a></li>
    <li class="active">Products</li>
</ol>

<div>
    <a href="/admin/products/add" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span></a>
    <h2>Products</h2>
</div>

<div class="well">
    
</div>

<table class="table table-bordered">
<tr>
    <th>#</th>
    <th>Code</th>
    <th>Description</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Action</th>
</tr>
{% for product in products %}
    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.code }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }} &euro;</td>
        <td>{{ product.stock }}</td>
        <td><a href="/admin/products/edit/{{ product.id }}" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-pencil"></span>
        </a></td>
    </tr>
{% endfor %}
</table>


{% endblock %}




