{% extends "base.html" %}
{% load utils %}
{% block title %}Home{% endblock %}
{% block content %}


{{ u }}

<table class="table table-bordered">
<tr>
    <th>#</th>
    <th>Code</th>
    <th>Description</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Action</th>
</tr>
{% for product in products %}
    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.code }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }} &euro;</td>
        <td>{{ product.stock }}</td>
        <td>
            {% cart_contains request product.id as cart_contains_product %}
            {% if not cart_contains_product %}
            <a href="#" class="cart-add" data-product="{{ product.id }}">Add to cart</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>


{% endblock %}