{% extends "base.html" %}
{% block title %}Cart{% endblock %}
{% block content %}

<h2>Cart</h2>


<table class="table table-bordered">
<tr>
    <th>#</th>
    <th>Code</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
</tr>
{% for item in items %}
    <tr>
        <td>{{ item.product.id }}</td>
        <td>{{ item.product.code }}</td>
        <td>{{ item.product.description }}</td>
        <td>{{ item.product.price }} &euro;</td>
        <td>{{ item.quantity }}</td>
    </tr>
{% endfor %}
</table>


{% endblock %}